.categories {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 2rem;
  transition: 0.5s ease-in-out;
  position: absolute;
  /* visibility: hidden;
  opacity: 0; */
}
.category {
  color: white;
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: 0.2rem;
  text-shadow: rgb(171, 195, 207) 1px 0 7px;
  font-weight: 100;
  opacity: 0.8;
}
.category:hover {
  text-shadow: rgb(227, 235, 240) 1px 5px 10px;
  cursor: pointer;
  opacity: 1;
}
