.container {
  position: fixed !important;
  display: flex;
  flex-direction: column;
  top: 5%;
  left: 5%;
  z-index: 1;
  max-width: 500px;
  /* min-width: 500px; */
  height: 92vh;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #ff0000;
} */
